<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="detalle-movimiento-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax auto="" id="obtenerDetalleMovimientos" url="http://localhost:90/v2/movimientos/{{id}}" method="GET" handle-as="json" on-response="mostrarDetalleMovimientos"></iron-ajax>

      <h1>Detalle del movimiento {{id}}</h1>
      <h2>[[detalle.ciudad]]</h2>
      <h2>[[detalle.fecha]]</h2>
      <h2>[[detalle.importe]]</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DetalleMovimientoApp extends Polymer.Element {
      static get is() { return 'detalle-movimiento-app'; }
      static get properties() {
        return {
          detalle:{
            type: Object
          }
        };
      }

      mostrarDetalleMovimientos(data){
        //console.log(data.detail.response)
        this.detalle = data.detail.response;
      }
    }



    window.customElements.define(DetalleMovimientoApp.is, DetalleMovimientoApp);
  </script>
</dom-module>
