<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="detalle-cuentas-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax auto="" id="obtenerDetalleCuentas" url="http://localhost:3000/v6/obtenercuenta/{{id}}" method="GET" handle-as="json" on-response="mostrarDetalleCuentas"></iron-ajax>

      <h1>Detalle de la cuenta</h1>

      <iron-form id="formUpdate">
      <form is="iron-form" method="post" action="http://localhost:3000/v6/actualizacuentas" enctype="application/json" >
        <table>
          <tr>
            <td>
                <paper-input name="id" value="{{id}}" label="Id" required></paper-input>
            </td>
            <td>
                <paper-input name="idcuenta" value="{{idcuenta}}" label="Id Cuenta" required></paper-input>
            </td>
            <td>
                <paper-input name="cuenta" value="{{cuenta}}" label="Cuenta" required></paper-input>
            </td>
            <td>
                <paper-input name="usuario" value="{{usuario}}" label="Usuario" required></paper-input>
            </td>
            <td>
              <paper-button raised on-click="formSubmit">Actualizar  Cuenta</paper-button>
            </td>
          </tr>
        </table>
      </form>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DetalleCuentasApp extends Polymer.Element {
      static get is() { return 'detalle-cuentas-app'; }
      static get properties() {
        return {
          id:{
            type:String
          },
          detalle:{
            type: Object
          },
          idcuenta:{
            type:Number
          },
          cuenta:{
            type:String
          },
          usuario:{
            type:String
          }
        };
      }
      static get listeners() {
          return {
            'iron-form-submit': 'formSubmit'
          }
      }

      formSubmit(){
        this.$.formUpdate.submit();
      }

      mostrarDetalleCuentas(data){

        this.detalle = data.detail.response;
        //console.log(data.detail.response);
        this.idcuenta = this.detalle[0].id;
        this.cuenta = this.detalle[0].idcuenta;
        this.usuario = this.detalle[0].usuario;
      }
    }



    window.customElements.define(DetalleCuentasApp.is, DetalleCuentasApp);
  </script>
</dom-module>
