<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="movimientos-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="obtenerCuentas" auto="" url="http://localhost:3000/v6/cuentas" method="GET" handle-as="json" on-response="mostrarCuentas">
    </iron-ajax>

    <iron-ajax id="obtenerMovimientos" url="http://localhost:3000/v6/obtenercuenta" method="GET" handle-as="json" on-response="mostrarMovtos">
    </iron-ajax>


<iron-form id="formInsert">
<form is="iron-form" method="post" action="http://localhost:3000/v6/cuentasmovimientos/{{id}}" enctype="application/json" >
  Selecciona la cuenta: <select id="idcuenta" name="idcuenta">
    <template is="dom-repeat" items="{{cuentas}}" as="cta">
      <option value="{{cta._id}}">{{cta.idcuenta}}</option>
    </template>
  </select>
  <paper-input name="idmovimiento" value="{{idmovimiento}}" label="Id Movimiento" required></paper-input>
  <br>
  <paper-input name="concepto" value="{{concepto}}" label="Concepto" required></paper-input>
  <br>
  <paper-input name="importe" value="{{importe}}" label="Importe" required></paper-input>
  <br>
  <paper-input name="fechamovimiento" value="{{fechamovimiento}}" label="Fecha Movimiento" required></paper-input>
  <br><br>


  <paper-button raised on-click="formSubmit">Crear  Movimiento</paper-button>
</form>
<div class="output"></div>
<br>
<div class="outputServer"></div>
</iron-form>
    <button on-click="invocarPeticion" class="btn">Consultar movimientos</button>
    <table class="table table-striped" hidden$="{{noTengoMovtos}}">
      <thead>
        <th>Id Movimiento</th>
        <th>Concepto</th>
        <td>&nbsp;</td>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{movimientos}}" as="mov" >
            <tr>
              <td>{{mov.idmovimiento}}</td>
              <td>{{mov.concepto}}</td>
              <td><a class="btn btn-info" href="/movimientos/editar/[[mov.idmovimiento]]">Editar</a>&nbsp;&nbsp;<a class="btn btn-info" href="/movimientos/eliminarmovimientos/[[mov.idmovimiento]]">Elminar</a></td>
            </tr>
        </template>
    </tbody>
    </table>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientosApp extends Polymer.Element {
      static get is() { return 'movimientos-app'; }
      static get properties() {
        return {
          id:{
            type: String,
            value:""
          },
          idmovto:{
            type:String,
            value:""
          },
          idmovimiento:{
            type: String,
            value:""
          },
          concepto:{
            type: String,
            value:""
          },
          importe: {
            type: String,
            value:""
          },
          fechamovimiento:{
            type: String,
            value:""
          },
          cuentas:{
            type: Array
          },
          movimientos:{
            type: Array
          },
          movimientosTemp:{
            type: Array
          },
          noTengoMovtos:{
            type:Boolean,
            value:true
          }

        };

      }
      static get listeners() {
          return {
            'iron-form-submit': 'formSubmit'
          }
      }

      formSubmit(){
        this.$.formInsert.submit();
      }

      invocarPeticion(){

        this.$.obtenerMovimientos.headers.idmovto = this.$.idcuenta.value;
        this.$.obtenerMovimientos.generateRequest();
      }

      mostrarCuentas(data){
        console.log(data.detail.response);
        this.cuentas = data.detail.response;
      }


      mostrarMovtos(data){

        this.movimientosTemp = data.detail.response;
        this.movimientos = this.movimientosTemp[0].movimientos;
        this.noTengoMovtos=false;
      }


      /*formSubmit(){
        this.$.formInsert.submit();

      }*/

    }



    window.customElements.define(MovimientosApp.is, MovimientosApp);
  </script>
</dom-module>
