<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="cuentas-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-ajax id="obtenerCuentas" auto="" url="http://localhost:3000/v6/cuentas" method="GET" handle-as="json" on-response="mostrarCuentas">
    </iron-ajax>

    <iron-ajax id="obtenerCuenta" url="http://localhost:3000/v6/obtenercuenta" method="GET" handle-as="json" on-response="mostrarCuentaPorId">
    </iron-ajax>

<iron-form id="formInsert">
<form is="iron-form" method="post" action="http://localhost:3000/v6/cuentas" enctype="application/json" >
  <table>
    <tr>
      <td>
          <paper-input name="idcuenta" value="{{idcuenta}}" label="Id Cuenta" required></paper-input>
      </td>
      <td>
          <paper-input name="cuenta" value="{{cuenta}}" label="Cuenta" required></paper-input>
      </td>
      <td>
          <paper-input name="usuario" value="{{usuario}}" label="Usuario" required></paper-input>
      </td>
      <td>
        <paper-button raised on-click="formSubmit">Crear  Cuenta</paper-button>
      </td>
    </tr>
  </table>
</form>
<div class="output"></div>
<br>
<div class="outputServer"></div>
</iron-form>
<table class="table table-striped" hidden$="{{noTengoCuentas}}">
  <thead>
    <th>Cuenta</th>
    <th>Usuario</th>
    <td>&nbsp;</td>
  </thead>
  <tbody>
    <template is="dom-repeat" items="{{cuentas}}" as="cta" >
        <tr>
          <td>{{cta.idcuenta}}</td>
          <td>{{cta.usuario}}</td>
          <td><a class="btn btn-info" href="/cuentas/editar/[[cta._id]]">Editar</a>&nbsp;&nbsp;<a class="btn btn-info" href="/cuentas/eliminarcuentas/[[cta._id]]">Elminar</a></td>
        </tr>
    </template>
</tbody>
</table>

  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class CuentasApp extends Polymer.Element {
      static get is() { return 'cuentas-app'; }
      static get properties() {
        return {
          idCuenta:{
            type: String,
            value:""
          },
          cuenta:{
            type: String,
            value:""
          },
          usuario: {
            type: String,
            value:""
          },
          cuentas:{
            type: Array
          },
          noTengoCuentas:{
            type:Boolean,
            value:true
          }

        };


      }
      static get listeners() {
          return {
            'iron-form-submit': 'formSubmit'
          }
      }

      formSubmit(){
        this.$.formInsert.submit();
      }

      mostrarCuentas(data){
        console.log(data.detail.response)
        this.cuentas = data.detail.response;
        this.noTengoCuentas=false;
      }

      mostrarCuentaPorId(data){
        console.log(data.detail.response)
        this.editarCuentas = data.detail.response;
      }

      editarCuenta(valor){
        alert(valor)
        console.log(valor)
        //this.$.obtenerCuenta.headers.id = valor;
        //this.$.obtenerCuenta.generateRequest();
      }

      invocarPeticion(){
        this.$.obtenerCuentas.generateRequest();
      }

    }



    window.customElements.define(CuentasApp.is, CuentasApp);
  </script>
</dom-module>
