<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="eliminar-cuentas-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax auto="" id="eliminarCuentas" url="http://localhost:3000/v6/eliminarcuentas/{{id}}" method="GET" handle-as="json" on-response="mostrarResultadoEliminarCuentas"></iron-ajax>

      <h1>Cuenta con clave {{id}} eliminada</h1>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class EliminarCuentasApp extends Polymer.Element {
      static get is() { return 'eliminar-cuentas-app'; }
      static get properties() {
        return {
          id:{
            type:String
          },
          detalle:{
            type: Object
          },
          idcuenta:{
            type:Number
          },
          cuenta:{
            type:String
          },
          usuario:{
            type:String
          }
        };
      }
      static get listeners() {
          return {
            'iron-form-submit': 'formSubmit'
          }
      }

      formSubmit(){
        this.$.formUpdate.submit();
      }

      mostrarResultadoEliminarCuentas(data){

        //this.detalle = data.detail.response;
        //console.log(data.detail.response.value);
        //this.idcuenta = this.detalle[0].id;
        //this.cuenta = this.detalle[0].idcuenta;
        //this.usuario = this.detalle[0].usuario;*/
      }
    }



    window.customElements.define(EliminarCuentasApp.is, EliminarCuentasApp);
  </script>
</dom-module>
