<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="loginmx-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerProductos" url="http://services.odata.org/V4/Northwind/Northwind.svc/Products" handle-as="json" on-response="mostrarProductos">
    </iron-ajax>
    <iron-ajax id="hacerLogin" url="http://localhost:3000/v3/login" method="POST" on-response="mostrarResultadoLogin">
    </iron-ajax>
    <!--
    <div class="row">
      <button class="col-sm-4 col-6">Boton 1 </button>
      <button class="col-sm-4 col-6">Boton 2 </button>
      <button class="col-sm-4 col-6">Otron botón </button>
    </div>-->
      <label for="">[[etuser]]</label>
      <input type="text" value={{valuser::input}} placeholder="email.asd@bbva.com" required="required">
    </div>
    <div>
      <label for="">[[etpassword]]</label>
      <input type="password" value={{valpwd::input}} required="required">
    </div>
    <div>
      <button on-click="hacerLogin" class="btn btn-info">Entrar</button>
      <button on-click="invocarPeticion" class="btn btn-warning">Invocar</button>
    </div>
    <table class="table table-striped" hidden$="{{noTengoProductos}}">
      <thead>
        <th>Id</th>
        <th>Nombre</th>
        <td>Precio</td>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{productos}}" as="prd" >
            <tr>
              <td>{{prd.ProductID}}</td>
              <td>{{prd.ProductName}}</td>
              <td>{{prd.UnitPrice}}</td>
            </tr>
        </template>
    </tbody>
    </table>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginmxApp extends Polymer.Element {
      static get is() { return 'loginmx-app'; }
      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword:{
            type: String
          },
          etlogin: {
            type: String
          },
          valuser:{
            type: String
          },
          productos:{
            type: Array
          },
          noTengoProductos:{
            type:Boolean,
            value:true
          }
        };
      }
      invocarPeticion(){
        this.$.obtenerProductos.generateRequest();
      }
      mostrarProductos(data){
        console.log(data.detail.response.value)
        this.productos = data.detail.response.value;
        this.noTengoProductos=false;
      }

      hacerLogin() {
        //console.log("Login correcto de " + this.valuser)
        this.$.hacerLogin.headers.email = this.valuser;
        this.$.hacerLogin.headers.pwd = this.valpwd;
        this.$.hacerLogin.generateRequest();
      }

       mostrarResultadoLogin(data) {
        //alert(data.detail.response);
        if(data.detail.response == ''){
          alert('Usuario o password no Valido')
        }
        else {
          alert('Valido')
        }

        //console.log(data.detail.response)
      }

    }



    window.customElements.define(LoginmxApp.is, LoginmxApp);
  </script>
</dom-module>
