<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="receptor-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Receptor</h2>
    <h3>{{origenRecibido}}</h3>
    <h3>{{anioRecibido}}</h3>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorApp extends Polymer.Element {
      static get is() { return 'receptor-app'; }
      static get properties() {
        return {
          origenRecibido:{
            type:String
          },
          anioRecibido:{
            type:Number
          }
        };
      }

      procesarDatos(data){
        console.log("SOY TU HIJO: " + JSON.stringify(data))
        this.origenRecibido = data.origen
        this.annioRecibido = data.anio
      }

      /*gestionarClick(e){
        console.log("ONCLICK: He pulsado el botón")
        this.dispatchEvent(new CustomEvent('emitido', {detail:{origen: "TechU", anio: 2018}}))
      }*/
    }

    window.customElements.define(ReceptorApp.is, ReceptorApp);
  </script>
</dom-module>
